#content{
	margin-top:40px;
	padding-top: 5px;
}

#tag-list{
	margin-bottom:5px;
}

.tag{
	padding: 5px;
	margin: 2px;
	font-weight: normal;
	font-size:15px;
}

.tag .close{
	margin: -5px 1px 0px 5px;
}