{% extends "base.html" %}

{% block content %}

<div class="row">

	<div class="span6">
		<h3>Tag Family Tree</h3>
		<p>
			You can add parent/child tag relationships with tags, 
			so whenever you add a tag to a purchase, you automatically add the parent tags.
		</p>
		<p>For example, if you want to automatically tag a purchase 
			<span class="label label-info">food</span> whenever you add the tag 
			<span class="label">lunch</span>, then you should add:
			<br/><br/>
			Child: <span class="label">lunch</span><br/>
			Parent: <span class="label label-info">food</span>
		</p>
		<hr>
		<div>
			Key<br/>
			<span class="label">child</span>
			<span class="label label-info">parent</span>
		</div>
		<hr>
		{% for child, parents in parent_tags.items %}
			<div>
				<span class="label">{{child}}</span>
				{% for parent in parents %}
				<span class="label label-info">{{parent}}</span>
				{% endfor %}
			</div>
		{% endfor %}
	</div>

	<div class="span6">
		<h2>Add new parent tag</h2>
		<form action="/parents" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Submit" />
		</form>
	</div>

</div>

{% endblock %}