<h2>Add new purchase</h2>
<form action="/purchases/add" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit" />
</form>

<h3>This month: {{month}}/{{year}}</h3>
<div>
	<b>Filters: </b>
	{% for tag in filters %}
		{{tag.name}}{% if forloop.last %}{% else %}, {% endif %}
	{% endfor %}
</div>
<br/>
<div><b>Total:</b> ${{total}}</div>
<br/>
<div>
	{% for tag in tags %}
		{{tag.name}}: ${{tag.total}}<br/>
	{% endfor %}
</div>
<br/>
<h3>All Purchases</h3>
{% for purchase in purchases %}
	<div>
		{{purchase.timestamp}} - ${{purchase.price}}: {{purchase.description}}
		<div>
			{% for tag in purchase.tags.all %}
				{{tag.name}}{% if forloop.last %}{% else %}, {% endif %}
			{% endfor %}
		</div>
	</div>
{% endfor %}