{% extends "base.html" %}
{% load jsonify %}

{% block js %}
<script type="text/javascript">

	// converts date to Django readable format
    function convertDate(date) {
    	return date;
        dateArr = date.split('/');
        newDateArr = [];
        newDateArr[0] = dateArr[2];
        newDateArr[1] = dateArr[0];
        newDateArr[2] = dateArr[1];
        return newDateArr.join('-').replace(' ', '');
    }

	$(document).ready(function(){
		Tagger.setParents({{parent_tags|jsonify}});

		// setup daterange picker
        $('#reportrange').daterangepicker(
         {
            ranges: {
               'Last 7 Days': [moment().subtract('days', 6), new Date()],

               'Last 30 Days': [moment().subtract('days', 29), new Date()],

               'This Month': [moment().startOf('month'),
                              moment().endOf('month')],

               'Last Month': [moment().subtract('month', 1).startOf('month'),
                              moment().subtract('month', 1).endOf('month')],

				'2 Months ago': [moment().subtract('month', 2).startOf('month'),
                              moment().subtract('month', 2).endOf('month')],

                'Last 6 Months': [moment().subtract('month', 5).startOf('month'),
                              moment().endOf('month')],

               'Q1': [moment().startOf('year'),
                      moment().month(2).endOf('month')],

               'Q2': [moment().month(3).startOf('month'),
                      moment().month(5).endOf('month')],

               'Calendar Year': [moment().startOf('year'), new Date()],

               'Past Year': [moment().subtract('year', 1), new Date()],

               'All Time': [moment().year(2013)
                                    .month(5)
                                    .startOf('month'),
                                    new Date()]
            },
            opens: 'left',
            format: 'MM/DD/YYYY',
            separator: ' to ',
            startDate: moment().year(2013).month(5).startOf('month'),
            endDate: moment(),
            minDate: '01/01/2012',
            maxDate: '12/31/2018',
            locale: {
                applyLabel: 'Submit',
                fromLabel: 'From',
                toLabel: 'To',
                customRangeLabel: 'Custom Range',
                daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                monthNames: ['January', 'February', 'March', 'April',
                             'May', 'June', 'July', 'August',
                             'September', 'October', 'November', 'December'],
                firstDay: 1
            },
            showWeekNumbers: true,
            buttonClasses: ['btn-danger'],
            dateLimit: false
         },
         function(start, end) {
            $('#reportrange span').html(
                start.format('MM/DD/YYYY') + ' - ' + end.format('MM/DD/YYYY')
            );

            var startDate = start.format('L');
            var endDate = end.format('L');
         }
        );

        // Set the initial state of the picker label
        $('#reportrange span').html(
            moment().year(2013).month(5).startOf('month').format('MM/DD/YYYY') +
            ' - ' +
            moment().format('MM/DD/YYYY')
        );

        $("#submit-date-filter").on('click', function() {
        	// array of start and end dates
            dates = $('#reportrange span').text().split('-');

            // date picker dates converted to Django-readable format
            var startDate = convertDate(dates[0]);
            var endDate = convertDate(dates[1]);

            window.location = "/purchases?start=" + startDate + "&end=" + endDate;
        });
	});

</script>
{% endblock %}

{% block content %}

<div class="row">

	<div class="span12">
		<h3>Start: {{start}} -- End: {{end}}</h3>
		<div id="reportrange" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
            <i class="icon-calendar icon-large"></i>
            <span></span> <b class="caret" style="margin-top: 8px"></b>
        </div>
        <button id="submit-date-filter" class="btn">Filter</button>
        <br>
        <br>
        <br>
        <br>
		<div>
			<b>Filters: </b>
			{% for tag in filters %}
				{{tag.name}}{% if forloop.last %}{% else %}, {% endif %}
			{% endfor %}
		</div>
		<br/>
		<div><b>Total:</b> ${{total}}</div>
		<br/>
	</div>

	<div class="span8">
		<h3>All Purchases</h3>
		<table class="table">
			<thead>
				<th>Date</th>
				<th>Price</th>
				<th>Description</th>
				<th>Tags</th>
			</thead>
			<tbody>
			{% for purchase in purchases %}
				<tr>
					<td>{{purchase.timestamp}}</td>
					<td>${{purchase.price}}</td>
					<td>{{purchase.description}} <a href="/purchases/delete/{{purchase.id}}?path={{path}}">&times;</a>
					&nbsp;<a href="/purchases/edit/{{purchase.id}}">edit</a></td>
					<td>
						{% for tag in purchase.tags.all %}
							<span class="label">{{tag.name}}</span>
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="span4">
		<div>
			<h3>Tags</h3>
			{% for tag in tags %}
				<a
				{% if filters|length == 0 %}
				href="{{path}}&tags={{tag.name}}"
				{% endif %}
				>
				<span class="label">{{tag.name}}</span></a> ${{tag.total}}<br/>
			{% endfor %}
		</div>
		<br/>
		<h2>Add new purchase</h2>
		<form action="/purchases/add" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<div id="tag-list"></div>
			<input type="submit" id="add-purchase-button" value="Submit" />
		</form>
	</div>

</div>

{% endblock %}